<!--<div *ngIf="true" class="layout-topbar">-->
<!--  <a class="layout-topbar-logo" routerLink="/cliente/home" style="width: 200px">-->
<!--    <img src="../../../assets/layout/images/logo-cts-3.JPG" alt="logo">-->
<!--    <span>Admin</span>-->
<!--  </a>-->

<!--  <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="toggleTopMenu($event)">-->
<!--    <i class="pi pi-ellipsis-v"></i>-->
<!--  </a>-->

<!--  <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': topMenuActive}">-->

<!--      <span  [style]="{'max-width': '200px', 'min-width': '200px', 'width': '200px'}">-->
<!--             <div class="grid p-fluid" style="text-align: center">-->
<!--                 <div class="col-12">{{user}}</div>-->
<!--                 <div class="col-12" style="margin-top: -11px">{{profile}}</div>-->
<!--             </div>-->
<!--       </span>-->

<!--      <i class="p-link layout-topbar-button" (click)="toggle($event)">-->
<!--        <i class="pi pi-user"></i>-->
<!--        <span>Usuário</span>-->
<!--      </i>-->

<!--  </div>-->

<!--</div>-->
